HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

src/main/java/com/openclassroom/paymybuddy/model/Transaction.java
src/main/java/com/openclassroom/paymybuddy/model/User.java
src/main/java/com/openclassroom/paymybuddy/model/UserConnection.java
src/main/java/com/openclassroom/paymybuddy/model/UserConnectionId.java
*.txt
*.py
*.env