HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

*.txt
*.py
user_connection.md
FONCTIONNALITE_GESTION_BALANCE.md
MODIFICATIONS_RECHERCHE_UTILISATEURS.md
FONCTIONNALITE_PAGE_PROFIL.md
postman_collection.json
project_summary.md
TESTS_README.md
CONFIGURATION_COMPLETE.md
CLAUDE.md
MAPPING_ENDPOINTS.md
PLAN_TESTS_UNITAIRES.md
RAPPORTS_README.md
RESUME_STANDARDISATION.md
STANDARDISATION_ENDPOINTS_REST.md
STRATEGIES_TESTS_CONTROLLERS.md
TESTS_RELATION_CONTROLLER.md
WCAG.md
ARCHITECTURE_COUCHES.md
Auto-eval-1.md
BONNES_PRATIQUES_INTERFACE.md
COHERENCE_BDD_MPD.md
satisfaction_fonctionnalites.md
project_summary.md